<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation=" 
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"> 
	<!--  配置扫描controller的包 -->
	<context:component-scan base-package="com.iflytek.om.controller"></context:component-scan>
	
	<!-- SpringMVC注解配置 -->
	<mvc:annotation-driven />
	
	<!-- 视图解析 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- prefix:jsp的文件路径 -->
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<!-- suffix:jsp的文件扩展名 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 前端所有文件放行，不经过核心控制器 -->
	<mvc:resources  mapping="/resources/" location="/resources/**"/>
	<mvc:default-servlet-handler/>
	
	<!-- 配置访问项目根目录 -->
	<mvc:view-controller path="/" view-name="forward:index"/>



	<!-- 上传配置 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<!-- 最大上传大小，  单位：字节     100M -->
		<property name="maxUploadSize" value="104857600"></property>
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截所有  /** -->
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/index"/>
			<mvc:exclude-mapping path="/login"/>
			<bean class="com.iflytek.om.interceptor.SessionInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	

</beans>

